<div *ngIf="therapist">
  <h2>{{therapist.name}}</h2>
  <div>
    <label>id: </label>{{therapist._id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="therapist.name" placeholder="name" />
   </div>
    <div>
    <label>hospital: </label>
    <input [(ngModel)]="therapist.hospital" placeholder="hospital" />
   </div>

   <div>
    <label> email: </label>
    <input [(ngModel)]="therapist.email" placeholder="email" />
   </div>

   <div>
    <label>phone: </label>
    <input [(ngModel)]="therapist.phone" placeholder="phone" />
   </div>
   
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
